body {
    font-family: Arial;
    background-color: azure;
    text-align: center;
  }
  
  main {
    font-style: italic;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  form {
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid #ccc;
    width: 320px;
    display: inline-block;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  input[type="date"], input[type="text"], textarea {
    background-color: azure;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
  }
  
  textarea {
    height: 100px;
  }
  
  button[type="submit"] {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }